# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore build directories
/dist/
/build/

# Ignore environment variables
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore other specific files
secret.txt
