.mat-mdc-form-field {
  margin: 2em !important;
}

.scroll-container {
  overflow: auto !important;
  display: block !important;
  height: calc(100vh - 160px);
}

.content {
  overflow: hidden !important;
}

div[formGroupName='location'] {
  display: flex;
  flex-direction: column;
}
